@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-primary: #FFF;
    --text-secundary: #000;
    --font-hading: 'Poppins';
    --font--default: 'Montserrat';
}

html{
    /*No código abaixo estamos colocando que todas as fontes são de 10px
     pois o navegador coloca que as fontes sejão de 16px. E 10/16= 0.625 ou 62.5% */
    font-size: 62.5%;
}
body{
    font-family: var(--font--default);
    color: var(--text-primary);
}

header{
    /*display flex deixa tudo na mesma coluna
    flex-direction : column deixa tudo na mesma coluna*/
    display: flex;
    flex-direction: column;
    /*o align-items define vomo vai alinhar os elementos, 
    flex start vai colocar nas primeiras colunas*/
    align-items: flex-start;
    gap: 1rem;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 66rem;
    padding-left: 84rem;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--text-primary);
    font-family: var(--font-hading);
}

/*span é inline pois o próx elemento vai vir na mesma linha diferente do h1, o link é a 
mesma coisa que o span*/
span{
    font-size: 4rem;
    
}

.button{
    background: linear-gradient(90deg, #B79891, #94716B);
    padding: 1 rem, 3rem;
    border-radius: 7px;
    font-size: 3.2rem;
    color: #FFF;
    /*tira o sublinhado*/
    text-decoration: none;
}
img.avatar{
    border-radius: 50%;
}
.section-presentation{
    display: flex;
    color: #000;
}
.section-presentation div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}